<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 10px 10px 10px 10px;
            text-align: left;
            
        }
        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
            font-weight: 500;
            font-size: 14px;
        } 
    </style>
</head>
<body>
    {% if error %}
        <p style="color: red;">{{error}}</p>
    {% endif %}
    <form action="" method="post">
        <h1>User Login</h1>
        <b><label>Enter Username:</label></b>
        <input type="text" name="username" ><br>
        <b><label>Enter Password:</label></b>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login" name="Login"><br><br>
        
        </form>

        <form action="{{ url_for('register') }}" method="get">
        <button type="submit">Register</button>
        </form>
</body>
</html>